# Database Configuration Template

# This is a template for your database configuration.
# Fill in the values according to your environment.

DATABASE_HOST=''
DATABASE_PORT=''
DATABASE_USER=''
DATABASE_PASSWORD=''
DATABASE_NAME=''
